.background-img{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url('../../../assets/crew/background-crew-mobile.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  filter: contrast(105%);
}

section{
  width: 100%;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  /* padding-bottom: 80px; */
  animation: loadingRouter 1.2s;
}

section h1{
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--barlow-condensed);
  color: var(--white);
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

section h1 span{
  font-weight: 700;
  opacity: .25;
  margin-right: 12px;
}

section .container{
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .container img{
  width: 177px;
  transition: .3s;
}

section .container .horizontal-line{
  width: 100%;
  height: 1px;
  background-color: #979797;
  opacity: .3;
  margin-bottom: 12px;
}

section .container .info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 16px;
}

section .container .info-container .slider-dots{
  display: flex;
  align-items: center;
  gap: 18px;
}

section .container .info-container .slider-dots li div{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--white);
  opacity: .17;
}

section .container .info-container .slider-dots li.active div{
  opacity: 1;
}

section .container .info-container .member-info-article{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section .container .info-container .member-info-article .role{
  color: var(--white);
  opacity: .5;
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--bellefair);
  text-transform: uppercase;
}

section .container .info-container .member-info-article .name{
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--bellefair);
  color: var(--white);
  text-transform: uppercase;
  margin: 10px 0 18px 0;
}

section .container .info-container .member-info-article .bio{
  font-size: .9375rem;
  font-weight: 400;
  font-family: var(--barlow-condensed);
  color: var(--light-blue);
  line-height: 25px;
}

@media(min-width: 768px){

  .background-img{
    background: url('../../../assets/crew/background-crew-tablet.jpg') no-repeat;
    background-position: center;
    background-size: cover;
  }

  section{
    top: 150px;
    gap: 60px;
  }

  section h1{
    font-size: 1.25rem;
    letter-spacing: 3.38px;
    align-self: flex-start;
    margin-left: 30px;
  }

  section .container{
    width: 458px;
    flex-direction: column-reverse;
    gap: 40px;
  }

  section .container .horizontal-line{
    display: none;
  }

  section .container img{
    width: 400px;
  }

  section .container .info-container{
    flex-direction: column-reverse;
    gap: 40px;
    margin-top: 0;
  }

  section .container .info-container .member-info-article .role{
    font-size: 1.5rem;
  }

  section .container .info-container .member-info-article .name{
    font-size: 2.5rem;
  }

  section .container .info-container .member-info-article .bio{
    font-size: 1rem;
    line-height: 28px;
  }
}

@media(min-width: 1368px){

  .background-img{
    background: url('../../../assets/crew/background-crew-desktop.jpg') no-repeat;
    background-position: right center;
    background-size: cover;
  }

  section{
    width: auto;
    top: 200px;
    gap: 20px;
  }

  section h1{
    font-size: 1.75rem;
    letter-spacing: 4.72px;
    margin-left: 0;
  }

  section .container{
    width: 1210px;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 0;
    justify-content: space-between;
  }

  section .container img{
    width: 500px;
  }

  section .container .info-container{
    gap: 80px;
    align-items: flex-start;
    margin-top: 40px;
  }

  section .container .info-container .member-info-article{

    align-items: flex-start;
    text-align: start;
  }

  section .container .info-container .slider-dots li div{
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  section .container .info-container .member-info-article .role{
    font-size: 2rem;
  }

  section .container .info-container .member-info-article .name{
    font-size: 3.5rem;
    margin: 18px 0 25px 0;
  }

  section .container .info-container .member-info-article .bio{
    width: 360px;
    height: 160px;
    font-size: 1.125rem;
    line-height: 32px;
  }

}
