<div class="background-img"></div>
<section>
  <h1>
    <span>02</span>
    Meet your crew
  </h1>
  <article class="container">
    <img [src]="currentCrewMember.image" [alt]="currentCrewMember.name + 'photo'">
    <span class="horizontal-line"></span>
    <article class="info-container">
      <ul class="slider-dots">
        <li *ngFor="let crewMember of crewMembers" [ngClass]="{'active': crewMember.active}">
          <div></div>
        </li>
      </ul>
      <article class="member-info-article">
        <h3 class="role">
          {{currentCrewMember.role}}
        </h3>
        <h2 class="name">
          {{currentCrewMember.name}}
        </h2>
        <p class="bio">
          {{currentCrewMember.bio}}
        </p>
      </article>
    </article>
  </article>
</section>
