<div class="background-img"></div>
<section>
  <h1>
    <span>01</span>
    Pick your destination
  </h1>
  <article class="container">
    <img [src]="currentCrewMember.image" [alt]="currentCrewMember.name + 'photo'">
    <span class="horizontal-line"></span>
    <article class="moons-info-article-container">
      <ul class="slider-dots">
        <li *ngFor="let crewMember in crewMembers">
          <div></div>
        </li>
      </ul>
      <article class="moon-info-article" #moonInfoArticle>
        <h3>
          {{currentCrewMember.role}}
        </h3>
        <h2>
          {{currentCrewMember.name}}
        </h2>
        <p>
          {{currentCrewMember.bio}}
        </p>
      </article>
    </article>
  </article>
</section>
