<div class="background-img"></div>
<section>
  <h1>
    <span>01</span>
    Pick your destination
  </h1>
  <article class="container">
    <img [src]="getCurrentImage(currentIndex)" alt="">
    <article class="moons-info-article-container">
      <ul class="moons-list">
        <li [ngClass]="{'active': destination.active}" *ngFor="let destination of destinations; let i = index" (click)="changeDestination(i)">
          {{destination.name}}
        </li>
      </ul>
      <article class="moon-info-article">
        <h2>
          Moon
        </h2>
        <p>
          See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed. While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.
        </p>
      </article>
      <span class="horizontal-line"></span>
      <article class="distance-travelTime-article">
        <div>
          <p class="title">
            AVG. DISTANCE
          </p>
          <p class="number-info">
            384,400 km
          </p>
        </div>
        <div>
          <p class="title">
            Est. travel time
          </p>
          <p class="number-info">
            3 days
          </p>
        </div>
      </article>
    </article>
  </article>
</section>
