.header{
  width: 100%;
  height: 96px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1;
}

.header .button-container{
  z-index: 4;
}

.header .button-container .close,
.header.menuOpened .button-container .open,
.header .nav{
  display: none;
}

.header.menuOpened .button-container .close{
  display: block;
}

.header .mobile-nav{
  width: 254px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(60px);
  color: white;
  transform: translateX(100%);
  transition: transform .3s;
  z-index: 3;
}

.header.menuOpened .mobile-nav{
  transform: translateX(0);
}

.header .mobile-nav ul{
  margin-top: 120px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header .mobile-nav ul li{
  position: relative;
}

.header .mobile-nav ul li.active::after{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: "";
  width: 4px;
  height: 31px;
  background-color: var(--white);
}

.header .mobile-nav ul li a{
  font-size: 1rem;
  font-family: var(--barlow-condensed);
  letter-spacing: 2.7px;
  color: var(--white);
}

.header .mobile-nav ul li a span{
  font-weight: bold;
  margin-right: 10px;
}

.header .mobile-nav ul li a{
  font-weight: 400;
  text-transform: uppercase;
}

.header .overlay{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  visibility: hidden;
  z-index: 2;
}

.header.menuOpened .overlay{
  visibility: visible;
}

@media(min-width: 768px){

  .header{
    padding: 0 30px;
    padding-right: 0;
  }

  .header .button-container{
    display: none;
  }

  .header .mobile-nav{
    display: none;
  }

  .header .nav{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #ffffff0e;
    backdrop-filter: blur(4px);
  }

  .header .nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 40px;
    height: 100%;
  }

  .header .nav ul li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .header .nav ul li.active::after{
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--white);
  }

  .header .nav ul li a{
    font-size: .875rem;
    font-weight: 400;
    font-family: var(--barlow-condensed);
    letter-spacing: 2.36px;
    color: var(--white);
    text-transform: uppercase;
  }
}
