<header class="header" [ngClass]="{'menuOpened': menuOpened}">
  <img src="../../../assets/shared/logo.svg" alt="Logo">
  <div class="button-container">
    <button class="open" (click)="toggleMenu()">
      <img src="../../../assets/shared/icon-hamburger.svg" alt="Menu icon" >
    </button>
    <button class="close" (click)="toggleMenu()">
      <img src="../../../assets/shared/icon-close.svg" alt="Close menu icon" >
    </button>
  </div>
  <nav class="mobile-nav">
    <ul>
      <li routerLink="/home" routerLinkActive="active" (click)="toggleMenu()">
        <a>
          <span>00</span>
          Home
        </a>
      </li>
      <li routerLink="/destination" routerLinkActive="active" (click)="toggleMenu()">
        <a>
          <span>01</span>
          Destination
        </a>
      </li>
      <li routerLink="/crew" routerLinkActive="active" (click)="toggleMenu()">
        <a>
          <span>02</span>
          Crew
        </a>
      </li>
      <li routerLink="/technology" routerLinkActive="active" (click)="toggleMenu()">
        <a>
          <span>03</span>
          Technology
        </a>
      </li>
    </ul>
  </nav>
  <nav class="nav">
    <span class="horizontal-line"></span>
    <ul>
      <li routerLink="/home" routerLinkActive="active">
        <span>00</span>
        <a>Home</a>
      </li>
      <li routerLink="/destination" routerLinkActive="active">
        <span>01</span>
        <a>Destination</a>
      </li>
      <li routerLink="/crew" routerLinkActive="active">
        <span>02</span>
        <a>Crew</a>
      </li>
      <li routerLink="/technology" routerLinkActive="active">
        <span>03</span>
        <a>Technology</a>
      </li>
    </ul>
  </nav>
  <div class="overlay" (click)="toggleMenu()"></div>
</header>
