<div class="background-img"></div>
<section>
  <h1>
    <span>03</span>
    SPACE LAUNCH 101
  </h1>
  <article class="container">
    <img [src]="" [alt]=" + 'photo'">
    <article class="info-container">
      <ul class="slider-dots">
        <li>
          <div></div>
        </li>
      </ul>
      <article class="member-info-article">
        <h3 class="role">

        </h3>
        <h2 class="name">

        </h2>
        <p class="bio">

        </p>
      </article>
    </article>
  </article>
</section>

